@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;700&display=swap");

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

html {
    font-size: 62.5%;
}

.red {
    background: red;
}

.blue {
    background: blue;
}

.flex-container {
    border: .3rem solid red;
    width: 80%;
    height: 70rem;
    display: flex;
    flex-direction: row;
    justify-content: center;
    /* justify-content faz o alinhamento de acordo com o eixo primario = display */
    align-items: center;
    /* align-items faz o alinhamento de acordo com o eixo secundario, ou seja, de 
    acordo com o contrario do eixo do display - flex */
    flex-wrap: nowrap;
    /* alinhando de acordo com a a pagina, para se adequar ao tamanho da mesma
    por exemplo quando e preciso quebrar uma linha... */
     /* flex-flow - utiliza o flex-wrap e o flex-direction em um so */
}

.flex-item {
    font-size: 2rem;
    width: 20rem;
    height: 20rem;
    color: #fff;
}