@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;700&display=swap");

:root {
  --bg-primary: #fff;
  --bg-button: #3767eb;
  --bg-notify: #f23435;
  --bg-shop: #f7f9fa;
  --bg-success: #ccf0d0; 
  --shadow: #f0f0f0;
}

* {
    border: 0;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
    text-decoration: none;
    list-style: none;
}
  
  html {
  font-size: 62.5%;
}

body {
  font-size: 1.6rem;
}

.container {
  margin: 0 auto;
  border: .1rem solid red;
  width: 80vw;
  height: 100vh;
  box-shadow: 1rem 1rem 2rem var(--shadow);
  display: grid;
  grid-template-rows: 7rem 11rem 1fr 6rem;
}

header,
section,
main,
footer {
  border: .2rem solid green;
}

header {
  display: grid;
  grid-template-columns: 2fr 1fr;
}

header .h-esq {
  display: grid;
  grid-template-columns: 1fr 3fr;
}

header .h-esq .input{
  border: .2rem solid #696969;
  display: grid;
  grid-template-columns: 1fr 5rem;
  height: 4rem;
  border-radius: .5rem;
  padding-left: 1.5rem;
}

header .h-esq .input input{
  outline: none;
}

main {
  display: grid;
  grid-template-columns: 3fr 1fr;
}

main div {
  border: .2rem solid blue;
}

