@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;700&display=swap");

:root {
  --bg-primary: #fff;
  --bg-button: #3767eb;
  --bg-notify: #f23435;
  --bg-shop: #f7f9fa;
  --bg-success: #ccf0d0; 
  --bg-section: #f7f9fa;
  --shadow: #f0f0f0;
  --primary-text: #888;
}

* {
    border: 0;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
    text-decoration: none;
    list-style: none;
}

html {
  font-size: 62.5%;
}

body {
  font-size: 1.6rem;
}

h4 {
  font-size: 2rem;
}

h5 {
  font-size: .4rem;
}

.container {
  margin: 0 auto;
  /* border: .1rem solid red; */
  width: 80vw;
  height: 100vh;
  box-shadow: 1rem 1rem 2rem var(--shadow);
  display: grid;
  grid-template-rows: 7rem 11rem 1fr 6rem;
}

/* header,
section,
main,
footer {
  border: .2rem solid green;
} */

header {
  display: grid;
  grid-template-columns: 2fr 1fr;
}

header .h-esq {
  display: grid;
  grid-template-columns: 1fr 3fr;
  align-items: center;
  padding-left: 6rem;
}

header .h-esq .input{
  border: .2rem solid #696969;
  display: grid;
  grid-template-columns: 1fr 5rem;
  height: 4rem;
  border-radius: .5rem;
  padding-left: 1.5rem;
}

header .h-esq .input input{
  outline: none;
}

main {
  display: grid;
  grid-template-columns: 3fr 1fr;
}

/* main div {
  border: .2rem solid blue;
} */

header .h-dir {
  display: grid;
  grid-template-columns: 8rem 8rem auto;
  justify-content: right;
  align-items: center;
}

header .h-dir .cart, .user {
  /* background: tomato; */
  border-radius: 50%;
  border: .1rem solid var(--shadow);
  width: 5rem;
  height: 5rem;
  color: var(--primary-text);
  font-size: 2.7rem;
  display: grid;
  align-items: center;
  justify-content: center;
  position: relative;
}

header .h-dir .cart .notify {
  background-color: var(--bg-notify);
  border-radius: 50%;
  width: 2rem;
  height: 2rem;
  font-size: 1.4rem;
  color: #fff;
  position: absolute;
  top: -.4rem;
  right: -.4rem;
  text-align: center;
}

header .h-dir .signin {
  margin-right: 5rem;
}

section {
  background: var(--bg-section);
  border-top: 0.1rem solid var(--shadow);
  display: grid;
  align-items: center;  
  font-weight: 500;
  font-size: 3rem;
  padding-left: 6rem;
  color: var(--primary-text);
}

main .list {
  border: .1rem solid var(--shadow);
  margin-left: 6rem;
  border-radius: 1rem;
  display: grid;
  grid-template-rows: 1fr 5rem;
}

main .list .button {
  display: grid;
  grid-template-columns: 15rem 13rem;
  justify-content: space-between;

}

main .list .button button {
  height: 4.5rem;
  border-radius: .7rem;
  background: none;
  cursor: pointer;
}

main .list .button button:nth-child(1) {
  border: .1rem solid var(--shadow);
  color: var(--primary-text);
  width: 15rem;
}

main .list .button button:nth-child(2) {
  border: .1rem solid var(--bg-button);
  background: var(--bg-button);
  color: #fff;
  width: 13rem;
}

main table thead td:nth-child(1){
  width: 11rem;
}

main table thead td:nth-child(2){
  width: 25rem;
}

main table thead td:nth-child(3){
  width: 13rem;
}

main table thead td:nth-child(4){
  width: 13rem;
}

main table thead td:nth-child(5){
  width: 13rem;
}

main table td img {
  height: 10rem;
}